<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="text-center container-fluid" style="height: 100vh; background-image:url(https://images.unsplash.com/photo-1565307528294-f70f3c7094e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)">
    <h1 class="h1 pt-5 text-danger">Hospital Management System</h1>
    <div class="d-flex justify-content-center align-items-center flex-column" style="height:460px;">
      <div>
        <p class="fs-2 text-secondary">Welcome To Dashboard</p>
      </div>
      <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand px-3" href="#">Admin</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav px-2">
                <li class="nav-item">
                  <a class="nav-link px-5 fs-5" href="/register">Patient's Entry</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-5 fs-5" href="/search">Patient's Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-5 fs-5" href="/delete">Patient's Info Delete</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-5 fs-5" href="/update">Patients Info Update</a>
                  </li> 
            </div>
          </div>
        </nav>
        <a href="/logout" class="btn btn-dark mt-5 p-2 fs-4">Logout</a>
      </div>
    </div>
</div>
</div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
